.app-bg {
  background-color: rgb(245, 245, 245) !important;
}
.app-active {
  color: #f08519 !important;
}
.backor-f5 {
  background-color: #f5f5f5 !important;
}
.color-cc {
  color: #ccc !important;
}
.kpmg-blue {
  color: #00338D !important;
}
.actions-btn {
  color: #108ee9 !important;
}
.status-color {
  color: #2db5aa !important;
}
.green-color {
  color: #22c278 !important;
}
.status-red {
  background-color: red !important;
}
.app-red {
  color: red !important;
}
.app-danger {
  color: #F56C6C !important;
}
.app-77 {
  color: #777777 !important;
}
.app-col-002257 {
  color: #002257 !important;
}
.btn-reset {
  background-color: #2db5aa !important;
  color: #fff !important;
}
.box-show {
  box-shadow: 2px 5px 20px #ccc;
}
.app-bgc {
  background-color: #696e81;
  color: #fff !important;
  width: 100% !important;
  height: 48px !important;
  display: flex;
  align-items: center;
}
.app-sizecolor {
  color: #bfbfbf !important;
}
.app-fff-6 {
  color: rgba(0, 0, 0, 0.6) !important;
}
.app-white {
  background-color: white !important;
}
.col-white {
  color: white !important;
}
.app-f5 {
  background-color: #f5f5f5 !important;
}
.app-primary {
  color: #108ee9 !important;
}
.app-primary-bg {
  background-color: #108ee9 !important;
  color: #fff !important;
}
.font-pint {
  cursor: pointer !important;
}
.app-black {
  background-color: black !important;
}
.app-transparent {
  background-color: rgba(255, 255, 255, 0) !important;
}
.app-opacity-0 {
  opacity: 0 !important;
}
.app-opacity-10 {
  opacity: 0.1 !important;
}
.app-opacity-20 {
  opacity: 0.2 !important;
}
.app-opacity-30 {
  opacity: 0.3 !important;
}
.app-opacity-40 {
  opacity: 0.4 !important;
}
.app-opacity-50 {
  opacity: 0.5 !important;
}
.app-opacity-60 {
  opacity: 0.6 !important;
}
.app-opacity-70 {
  opacity: 0.7 !important;
}
.app-opacity-80 {
  opacity: 0.8 !important;
}
.app-opacity-90 {
  opacity: 0.9 !important;
}
.app-bg-selected {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.col-blue {
  color: #00338d !important;
}
.ele-blue {
  color: #409EFF !important;
}
.ele-green {
  color: #67C23A !important;
}
.ele-info {
  color: #909399
}
.ele-bg-blue {
  background-color: #409EFF !important;
}
.m-blue{
  color: #005EB8;
}
.bg_wh{
  background-color: #fff;
}